<div class="container">
  <ol class="breadcrumb">
    <li><a (click)="goBack()">Back to Edit Player List</a></li>
  </ol>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h4 class="panel-title">Edit Player</h4>
    </div>
    <div class="panel-body">
<div class="form-group">
          <label for="name">First Name:</label>
          <br>
          <input class="form-control" type="text" #firstName value="{{(playerToEdit | async)?.firstName}}">
        </div>
        <div class="form-group">
          <label for="name">Last Name:</label>
          <br>
          <input class="form-control" type="text" #lastName value="{{(playerToEdit | async)?.lastName}}">
        </div>
        <div class="form-group">
          <label for="tagLine">Birth Date:</label>
          <br>
          <input class="form-control" type="date" #birthDate value="{{(playerToEdit | async)?.birthDate}}">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <br>
          <textarea rows="4" class="form-control" type="text" #description value="{{(playerToEdit | async)?.description}}"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Category: </label>
          <select class="form-control" #category value="{{(playerToEdit | async)?.category}}">
            <option value="Football">Football</option>
            <option value="Cheer">Cheer</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Team: </label>
          <select class="form-control" #team value="{{(playerToEdit | async)?.team}}">
            <option value="Flag">Flag</option>
            <option value="MM">Mitey Mite</option>
            <option value="Cadet">Cadet</option>
            <option value="JRPW">Jr. Pee Wee</option>
            <option value="PW">Pee Wee</option>
            <option value="Midget">Midget</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Gender: </label>
          <select class="form-control" #gender value="{{(playerToEdit | async)?.gender}}">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="image">Image URL:</label>
          <br>
          <input class="form-control" type="text" #image value="{{(playerToEdit | async)?.image}}">
        </div>

      <button type="button" class="btn btn-warning" (click)="saveEdit(firstName.value, lastName.value, birthDate.value, description.value, category.value, team.value, gender.value, image.value)">Save</button>
      <button type="button" class="btn btn-danger" (click)="deletePlayer()">Delete</button>
    </div>
  </div>
</div>
