<div class="container">
  <ol class="breadcrumb">
    <li><a (click)="goBack()">Back to Edit Player List</a></li>
  </ol>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h4 class="panel-title">Edit Player</h4>
    </div>
    <div class="panel-body">
      <app-player-form-component [(model)]="model"></app-player-form-component>
      <button type="button" class="btn btn-warning" (click)="saveEdit()">Save</button>
      <button type="button" class="btn btn-danger" (click)="deletePlayer()">Delete</button>
    </div>
  </div>
</div>
