<div class="container">
  <ol class="breadcrumb">
    <li><a routerLink="">Back to Player List</a></li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Player</h3>
    </div>
    <div class="panel-body">
      <form>
        <app-player-form-component [(model)]="model"></app-player-form-component>
        <button class="btn btn-success" type="button" (click)="submitNewPlayer()">Add Player</button>
      </form>
    </div>
  </div>
</div>
