<div class="container">
  <ol class="breadcrumb">
    <li><a routerLink="">Back to Player List</a></li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Player</h3>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="coaching">Coaching:</label>
          <br>
          <select class="form-control" [(ngModel)]="model.coaching" name="coaching">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group">
          <label for="category">Category: </label>
          <select class="form-control" [(ngModel)]="model.category" name="category">
            <option value="Football">Football</option>
            <option value="Cheer">Cheer</option>
          </select>
        </div>

        <div class="form-group">
          <label for="teamSelect">Team: </label>
          <select class="form-control" [(ngModel)]="model.team" name="team">
            <option value="Flag">Flag</option>
            <option value="MM">Mitey Mite</option>
            <option value="Cadet">Cadet</option>
            <option value="JRPW">Jr. Pee Wee</option>
            <option value="PW">Pee Wee</option>
            <option value="Midget">Midget</option>
          </select>
        </div>

        <div class="form-group">
          <label for="firstName">First Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstName" name="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.lastName" name="lastName">
        </div>

        <div class="form-group">
          <label for="weight">Weight:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.weight" name="weight">
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.phone" name="phone">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.email" name="email">
        </div>

        <div class="form-group">
          <label for="birthDate">Birth Date:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.birthDate" name="birthDate">
        </div>

        <div class="form-group">
          <label for="genderSelect">Gender: </label>
          <select class="form-control" [(ngModel)]="model.gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="age">Age:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.age" name="age">
        </div>

        <div class="form-group">
          <label for="school">School:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.school" name="school">
        </div>

        <div class="form-group">
          <label for="jerseyNumber">Jersey Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.jerseyNumber" name="jerseyNumber">
        </div>

        <div class="form-group">
          <label for="firstParentFirstName">First Parent First Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentFirstName" name="firstParentFirstName">
        </div>

        <div class="form-group">
          <label for="firstParentLastName">First Parent Last Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentLastName" name="firstParentLastName">
        </div>

        <div class="form-group">
          <label for="firstParentHomeNumber">First Parent Home Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentHomeNumber" name="firstParentHomeNumber">
        </div>

        <div class="form-group">
          <label for="firstParentMobileNumber">First Parent Mobile Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentMobileNumber" name="firstParentMobileNumber">
        </div>

        <div class="form-group">
          <label for="firstParentWorkNumber">First Parent Work Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentWorkNumber" name="firstParentWorkNumber">
        </div>

        <div class="form-group">
          <label for="firstParentAddress">First Parent Address:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentAddress" name="firstParentAddress">
        </div>

        <div class="form-group">
          <label for="firstParentCity">First Parent City:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentCity" name="firstParentCity">
        </div>

        <div class="form-group">
          <label for="firstParentState">First Parent State:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentState" name="firstParentState">
        </div>

        <div class="form-group">
          <label for="firstParentZip">First Parent Zip:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentZip" name="firstParentZip">
        </div>

        <div class="form-group">
          <label for="firstParentEmail">First Parent Email:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.firstParentEmail" name="firstParentEmail">
        </div>

                <div class="form-group">
          <label for="secondParentFirstName">Second Parent First Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentFirstName" name="secondParentFirstName">
        </div>

        <div class="form-group">
          <label for="secondParentLastName">Second Parent Last Name:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentLastName" name="secondParentLastName">
        </div>

        <div class="form-group">
          <label for="secondParentHomeNumber">Second Parent Home Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentHomeNumber" name="secondParentHomeNumber">
        </div>

        <div class="form-group">
          <label for="secondParentMobileNumber">Second Parent Mobile Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentMobileNumber" name="secondParentMobileNumber">
        </div>

        <div class="form-group">
          <label for="secondParentWorkNumber">Second Parent Work Number:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentWorkNumber" name="secondParentWorkNumber">
        </div>

        <div class="form-group">
          <label for="secondParentAddress">Second Parent Address:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentAddress" name="secondParentAddress">
        </div>

        <div class="form-group">
          <label for="secondParentCity">Second Parent City:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentCity" name="secondParentCity">
        </div>

        <div class="form-group">
          <label for="secondParentState">Second Parent State:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentState" name="secondParentState">
        </div>

        <div class="form-group">
          <label for="secondParentZip">Second Parent Zip:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentZip" name="secondParentZip">
        </div>

        <div class="form-group">
          <label for="secondParentEmail">Second Parent Email:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.secondParentEmail" name="secondParentEmail">
        </div>

        <div class="form-group">
          <label for="emergencyContactName">Emergency Contact Name:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.emergencyContactName" name="emergencyContactName">
        </div>

        <div class="form-group">
          <label for="emergencyContactPhoneNumber">Emergency Contact Phone Number:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.emergencyContactPhoneNumber" name="emergencyContactPhoneNumber">
        </div>

        <div class="form-group">
          <label for="physicianName">Physician Name:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.physicianName" name="physicianName">
        </div>

        <div class="form-group">
          <label for="physicianPhoneNumber">Physician Phone Number:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.physicianPhoneNumber" name="physicianPhoneNumber">
        </div>

        <div class="form-group">
          <label for="volunteerFirstChoice">Volunteer First Choice:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.volunteerFirstChoice" name="volunteerFirstChoice">
        </div>

        <div class="form-group">
          <label for="volunteerSecondChoice">Volunteer Second Choice:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.volunteerSecondChoice" name="volunteerSecondChoice">
        </div>

        <div class="form-group">
          <label for="volunteerThirdChoice">Volunteer Third Choice:</label>
          <br>
          <input  class="form-control" type="text" [(ngModel)]="model.volunteerThirdChoice" name="volunteerThirdChoice">
        </div>

        <div class="form-group">
          <label for="dateEntered">Date Entered:</label>
          <br>
          <input class="form-control" type="text" [(ngModel)]="model.dateEntered" name="dateEntered">
        </div>

        <button class="btn btn-success" type="button" (click)="submitNewPlayer()">Add Player</button>
      </form>
    </div>
  </div>
</div>
