<nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" routerLink="">River Plaza Lincroft Chargers</a>
     </div>
     <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
       <li><a routerLink="">Home</a></li>
       <li><a routerLink="about">About</a></li>
       <li><a routerLink="new-player">Add Player</a></li>
       <li><a routerLink="edit-player">Edit Player</a></li>
     </ul>
     <!--PHONE NAV MENU: NEED TO Do THIS-->
     <ul class="phone-nav hidden-md hidden-lg">
       <li class="menu"><a href="#"><img src="assets/img/btn-compact-nav.svg"></a></li>
     </ul>
   </div><!--end of navbar container-fluid-->
 </nav>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row footer">
    <div class="footer-container">
      <h3>Something</h3>
      <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
  </div><!--end of footer-->
</div><!--end of last container-fluid-->
