<div class="cover">
  <img class="coverImage" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/NFL_Chargers_logo.svg/1280px-NFL_Chargers_logo.svg.png" alt="River Plaza Lincroft Chargers">
  <h3 class="coverText">River Plaza Lincroft Chagers</h3>
</div>
<div class="container">
  <div class="form-group">
    <label>Sort By:</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option value="allPlayers">All Players</option>
      <option value="femalePlayers">Female Players</option>
      <option value="malePlayers">Male Players</option>
      <option value="midget">Midget</option>
      <option value="pW">Pee Wee</option>
      <option value="jRPW">Jr. Pee Wee</option>
      <option value="mM">Mitey Mite</option>
      <option value="cadet">Cadet</option>
    </select>
  </div>
  <div class="panel-container">
    <div class='panel panel-default' *ngFor="let player of players | async | filter:selectedCategory" (click)="toPlayerDetail(player)">
      <div class="panel-heading">
        <h4 class="panel-title">{{player.firstName}} {{player.lastName}}</h4>
      </div>
      <div class="panel-body">
        <!--<img class="profilePhoto" src="{{player.image}}" alt="{{player.firstName}} {{player.lastName}}">-->
        <!--<div class="text">
          <p>{{player.birthDate}}</p>
        </div>-->
        <div class="bodyStatic">
          <p>Team: <em>{{player.team}}</em> | Category: <em>{{player.category}}</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
